*{
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-weight: normal;
}
body{
}

.left-half {
  background-color: #000020;
  position: absolute;
  left: 0px;
  width: 25%;
}

.right-half {
  background-color: #FFFFFF;
  position: absolute;
  right: 0px;
  width: 75%;
  height: 100%;
  overflow-y : scroll; 

  
}

hr {
  display: block;
  height: 2px;
  border: 0;
  border-top: 2px solid #ccc;
  margin: 1em 0;
  margin-left:5%;
  margin-right: 5%;
  padding: 0;
}

.containerTotal{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
.background{
    width: 100%;
    height: 100%;
    background-color: white;
    float: right;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow-y: auto;
    font-family: 'Playfair Display', serif;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    flex: 33.33%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  .row {
    position: relative;
    margin-left: 68%;
    margin-top: 13%;
    display: inline-block;
  }
  
.trina{
    content:url("../images/trina_fb.jpg");
    position: relative;  
    margin-left: 0%;
    margin-right: 30%;
    margin-top: 60%; 
    width:80%;
    height:auto;
}

.link-icon{
  content:url("https://img.icons8.com/office/16/000000/link.png");
  position: relative;  
  margin-left: 3%;
  margin-top: -11%;
  width: 5%;
  height: 2%;
}

.link-icon2{
  content:url("https://img.icons8.com/office/16/000000/link.png");
  position: relative;  
  margin-left: 3%;
  margin-top: 2%;
  width: 5%;
  height: 2%;
}


.tab{
    padding-left: 5%;
}
.github{
    content:url("../images/github_logo.jpg");
    width:15%;
    height:70%;
    padding: 3%;
}

.linkedin{
    content:url("../images/linkedin.jpg");
    width:15%;
    height:70%;
    padding: 3%;
}

.email{
    content:url("../images/email.jpg");
    width:13%;
    height:70%;
    padding: 3%;
}

.name{
    position: relative;
    color:white;
    margin-top:5%;
    margin-left:15%;
    font-size: 35px;
    font-weight: 600;
    font-family: 'Domine', serif;
}

.intro{
    position: relative;
    color:white;
    margin-top:0%;
    margin-left:5%;
    margin-right:5%;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}

.links{
    position: relative;
    color:white;
    margin-top:10%;
    margin-left:0%;
    font-size: 20px;
    line-height: 26pt;
    font-family: 'Domine', sans-serif;
    font-weight: 300;
    text-align: center;
}

/* Add a black background color to the top navigation */
.topnav {
    position: fixed;
    z-index: 1;
    display: flex;
    background-color: white;
    overflow: hidden;
    left:50%;top:2%;
    margin-left:-375px; /* negative margin equal to half the width */
    width:750px;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 15px 27px;
    text-decoration: none;
    font-size: 20px;
    margin: 0 15 px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  /* Change the color of links on hover */
  .topnav a:hover {
    text-align:center;
    background-color: #ddd;
    color: black;
    margin: 0 40px;
    
  }
  
  section {
        display: flex;
        flex-direction: column;
        height: 100vh;
  }

/*figure {
    display: inline-block;
    padding: 5px;
}
figcaption {
    margin: 10px 0 0 0;
    font-variant: small-caps;
    font-family: Arial;
    font-weight: bold;
    color: #bb3333;
}*/
  /* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */
  @media screen and (max-width: 600px) {
    .topnav a, .topnav-right {
      float: none;
      display: block;
    }
  
    .topnav-centered a {
      position: relative;
      top: 0;
      left: 0;
      transform: none;
    }
  }

  h1{
    font-size: 2.5rem;
    font-family: 'Montserrat';
    font-weight: normal;
    color: #444;
    text-align: center;
    margin: 2rem 0;
  }
  
  .wrapper{
    width: 90%;
    margin: 0 auto;
    max-width: 80rem;
  }
  
  .cols{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .col{
    width: calc(25% - 2rem);
    margin: 1rem;
    cursor: pointer;
  }
  
  .container{
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-perspective: 1000px;
            perspective: 1000px;
  }
  
  .front,
  .back{
    background-size: cover;
    background-position: center;
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    text-align: center;
    min-height: 280px;
    height: auto;
    border-radius: 10px;
    color: #fff;
    font-size: 1.5rem;
  }
  
  .back{
    background: #cedce7;
    background: -webkit-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
    background: -o-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
    background: linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
  }
  
  .front:after{
    position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      content: '';
      display: block;
      opacity: .6;
      background-color: #000;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      border-radius: 10px;
  }
  .container:hover .front,
  .container:hover .back{
      -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  }
  
  .back{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
  }
  
  .inner{
      -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
              transform: translateY(-50%) translateZ(60px) scale(0.94);
      top: 50%;
      position: absolute;
      left: 0;
      width: 100%;
      padding: 2rem;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      outline: 1px solid transparent;
      -webkit-perspective: inherit;
              perspective: inherit;
      z-index: 2;
  }
  
  .container .back{
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg);
      -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d;
  }
  
  .container .front{
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
      -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d;
  }
  
  .container:hover .back{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
  }
  
  .container:hover .front{
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
  }
  
  .front .inner p{
    font-size: 2rem;
    margin-bottom: 2rem;
    position: relative;
  }
  
  .front .inner p:after{
    content: '';
    width: 4rem;
    height: 2px;
    position: absolute;
    background: #C6D4DF;
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -.75rem;
  }
  
  .front .inner span{
    color: rgba(255,255,255,0.7);
    font-family: 'Montserrat';
    font-weight: 300;
  }

  .About{
    position: relative;
    margin-top: 3%;
    font-family: 'Domine';
    font-weight: 400;
  }
  .aboutParagraph{
    position: relative;
    font-size: 20px;
    margin-top: 2%; 
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Domine';
    font-weight: 400;
  }

  .left-vertical { 
    width: 2px;
    background-color: silver;
    height: 10%;
    float: left;
    border: 2px solid silver ;
    margin: 0 10px;
} 

.right-vertical { 
  width: 2px;
  background-color: silver;
  height: 10%;
  border: 2px solid silver ;
  display:inline-block;
  margin-right: 0 0px;
} 

  .projIntro{
    position: relative;
    margin-top: 12%; 
    font-family: 'Domine';
    font-weight: 400;
  }

  .projIntro2{
    position: relative;
    margin-top: 12%; 
    font-family: 'Domine';
    font-weight: 400;
  }

  .resume{
    position: relative;
    margin-top: 6%; 
    font-family: 'Domine';
    font-weight: 400;
  }
  
  .cropped1 {
    width: 90%; /* width of container */
    height: 100%; /* height of container */
    object-fit: cover;
    object-position: 100% 0px; 
    overflow:hidden
}
  @media screen and (max-width: 64rem){
    .col{
      width: calc(33.333333% - 2rem);
    }
  }
  
  @media screen and (max-width: 48rem){
    .col{
      width: calc(50% - 2rem);
    }
  }
  
  @media screen and (max-width: 32rem){
    .col{
      width: 100%;
      margin: 0 0 2rem 0;
    }
  }

